<div class="row">
  <div class="col-xs-4">
    <h2>Shitpost generator</h2>
    <% provide(:button_text, "Create post") %>
    <%= render "form" %>
  </div>

  <div class="col-xs-8">
    <h2>All posts</h2>
    <%= will_paginate @microposts %>
    <ul class="list-group">
      <% @mircoposts.each do |p| %>
        <li class="list-group-item">
          <h3><%= p.user.name %></h3>
          <p><%= p.content %></p>
          <p><small><%= p.created_at.strftime("%Y-%m-%d %H:%M-%S") %></small></p>
          <br>
          <small><%= link_to "Edit ", edit_micropost_path(p) %></small>
          <small><%= link_to "Show ", show_micropost_path(p) %></small>
          <small><%= link_to "Delete", p, method: :delete, data: { confirm: 'Are you sure?' }  %></small>
        </li>
      <% end %>
    </ul>


  </div>

</div>
