<div class="row">
  <div class="col-md-4">
    <h1>New post</h1>
    <%= form_for(@micropost) do |f| %>

      <%= f.text_field :content, class: "form-control", style: "height: 5cm" %>

      <%= f.submit "Create post", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="col-md-8">
    <h1>All posts</h1>
    <% @microposts.each do |p| %>
      <div class="panel panel-default", style="padding: 15px 40px">
        <h3><%= p.user.name %></h3>
        <p><%= p.content %></p>
        <p>
          <small><%= link_to "Edit", edit_micropost_path(id: p) %></small>
          <small><%= link_to "Show", p %></small>
          <small><%= link_to "Destroy", p, method: :delete, data: {confirm: "Are u sure?"} %></small>
        </p>

      </div>
    <% end %>
      <%= will_paginate %>
  </div>
</div>
